[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
pickle-mixin = "*"
pandas = "*"
torch = "*"
torchvision = "*"
numpy = "*"
scikit-learn = "*"
pyyaml = "*"
easydict = "*"
argparse = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.6"
